$default-bg: #fff;            // in dark theme: 202020
$regular-text-color: #292929; // in dark theme: #ccc
$bold-text-color: #000;       // in dark theme: #fff
$border-color: #dedede;
$bold-bg: #fff;

/*
$theme: black;

$default-bg: #202020;            // in dark theme: 202020
$regular-text-color: #ccc; // in dark theme: #ccc
$bold-text-color: #fff;       // in dark theme: #fff
$border-color: #343434;
$bold-bg: #1a1a1a; */

//$brand-main: #F23D4E;
//$brand-secondary: #6c20a1; // darker: 6C20A0 AF3FFF

$brand-main: #00ace5;
$brand-secondary: #d81536;
$brand-yellow: #ffbe0b;

/*

$brand-orange: #FF7F3F;
$brand-red: #E51B1B;
$brand-light-blue: #7FFFF4;
$brand-confident-blue: #2861CC;
$brand-boring-blue: #3A86FF;
$brand-blurple: #4328CC;
$brand-pink: #FF006E; */

$layers: root, contentpush, sticky, navroot, navlist, navtop, modal;

$shadow1: 0 0.125rem 0.25rem rgba(#000, 0.2);
