// Main paint colors
//
// Used for most website elements
$default-bg: #fff;
$regular-text-color: #292929;
$bold-text-color: #000;
$border-color: #dedede;
$bold-bg: #fff;

// Brand colors
//
// Used commonly on the site
$brand-main: #00ace5;
$brand-secondary: #d81536;

// Other colors
//
// Not checked to see if they fit the brand
$brand-yellow: #ffbe0b;
$brand-orange: #ff7f3f;
$brand-red: #e51b1b;
$brand-light-blue: #7ffff4;
$brand-confident-blue: #2861cc;
$brand-boring-blue: #3a86ff;
$brand-blurple: #4328cc;
$brand-pink: #ff006e;

// Calculate z-index
$layers: root, contentpush, sticky, navroot, navlist, navtop, modal;

// Shadows
$shadow1: 0 0.125rem 0.25rem rgba(#000, 0.2);
