// Brand colors
//
// Used commonly on the site
$brand-main: #1965FF;
$brand-secondary: #16A0E5;

// Main paint colors
//
// Used for most website elements
$default-bg: #fff;
$regular-text-color: #292929;
$bold-text-color: #000;
$border-color: #dedede;
$bold-bg: #fff;
$accented-bg: mix($brand-main, #fff, 10%);

// Other colors
//
// Not checked to see if they fit the brand
$brand-yellow: #ffbe0b;
$brand-orange: #ff7f3f;
$brand-red: #e51b1b;
$brand-light-blue: #7ffff4;
$brand-confident-blue: #2861cc;
$brand-boring-blue: #3a86ff;
$brand-blurple: #4328cc;
$brand-pink: #ff006e;

// Calculate z-index
$layers: root, contentpush, forceup, sticky, navroot, navlist, navtop, modal;

// Shadows
$shadow1: 0 0.125rem 0.25rem rgba(#000, 0.2);
$shadow2: 0 0.4rem 2rem rgba(#000, 0.25);
