// Horizontal rule with dots
.fancy {
  border: 0;
  margin: 2rem;
  margin-bottom: 4rem;

  &::after {
    content: ' · · · ';
    letter-spacing: 1rem;
  }
}

// Fix container
.container {
  max-width: 64rem;
  margin: 0 auto;
  padding: 1rem;
  display: block;

  &--narrow { max-width: 48rem; }
}

@media (max-width: 768px) {
  .mobile-row .col {
    margin-bottom: 2.5rem;
  }
}

.background {
  background-size: cover;
}

.stretch-img {
  width: 100%;
  height: 100%;
}

// Reset
.no-bullet {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

// Text
.bold { color: $bold-text-color; }
.highlighted { color: $brand-main; }
.center { text-align: center; }
.right { text-align: right; }

.faded { opacity: 0.8; }
.caps { text-transform: uppercase; }
.no-upper-margin { margin-top: 0; }

// Align
.break { padding: 1.5rem; &--half { padding: 0.5rem; } }

.btn-group .btn { margin: 0.25rem; }
