// Horizontal rule with dots
.fancy {
  border: 0;
  margin: 2rem;
  margin-bottom: 4rem;

  &::after {
    content: ' 路 路 路 ';
    letter-spacing: 1rem;
  }
}

// Prettier underline
u {
  text-decoration: none;
  border-bottom: 0.1rem solid currentColor;
}

// Cursor change
.clickable { cursor: pointer; }
.wait { cursor: wait; }

// No scroll
.disable-scrolling {
  overflow: hidden;
}

// Pretty list
.styled-list {
  padding: 0;

  li {
    list-style: none;

    &::before {
      content: " 路 ";
      padding: 0 0.5rem;
    }
  }
}

// Fix container
.container {
  max-width: 64rem;
  margin: 0 auto;
  padding: 1rem;
  display: block;

  &--narrow { max-width: 42rem; }
}

@media (max-width: 768px) {
  .mobile-row figure, .mobile-row .col {
    margin-bottom: 2.5rem;
  }
}

.padded-row .col {
  padding: 1rem;
}

.text-row .col { padding: 0 0.4rem; }

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.stretch-img {
  width: 100%;
  height: auto;
}

// Reset
.no-bullet {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.horizontal-list li {
  display: inline-block;
}

.float-right { float: right; }
.float-fix { position: relative; top: -3.5rem; }

// Text
.silent {
  color: $bold-text-color;
  &:hover { color: $brand-main; }
}
.bold { color: $bold-text-color; }
.highlighted {
  color: $brand-main;

  svg path { fill: $brand-main; }
}
.center { text-align: center; }
.right { text-align: right; }

.faded { opacity: 0.8; }
.ingrained { opacity: 0.6; }
.buried { opacity: 0.4; }
.caps { text-transform: uppercase; }
.no-upper-margin { margin-top: 0; }

.truncate { max-width: 42rem; }

// Align
.break { padding: 1.5rem; }
.break-sm { padding: 0.5rem; }

.btn-group .btn { margin: 0.25rem; }

// Icons
.large-icon { height: 3rem; width: 3rem; }

// On mobile
@media (max-width: 768px) {
  .center-mobile { text-align: center; }
}
