{{ partial "meta.html" . }}
<body class="default">
{{ partial "nav-light.html" . }}
<div class="hero" style="background-image: linear-gradient(135deg, rgba(0, 0, 0, 0{{ .Params.darken }}), rgba(0, 0, 0, 0{{ .Params.darken }})), url({{ .Params.image }})">
  <div class="hero-greeting__container center">

  </div>
</div>

<article class="container container--narrow">
  <div class="break"></div><div class="break"></div>
  <h1 class="h1 bold center"><b>{{ .Title }}</b></h1>
  <p class="center ingrained">a {{ .ReadingTime }} min read by Mantas Vilčinskas on {{ .Date.Format "Jan 2, 2006" }}</p>

  <div class="break break--half"></div>
  <p>{{ .Params.leadup }}</p>

  <div class="markdown-container">
    <p class="h5">{{ .Description }}</p>
    {{ .Content }}
  </div>
</article>


<hr class="fancy center">
<div class="container container--narrow">
  <h1 class="h1 bold center">Comments</h1>
  <p class="center"><a href="{{ .Params.comments }}">Leave a comment</a><br>
  <span class="faded">showing 50 of the top comments from Reddit</span></p>

  <div class="break"></div>
  <!-- Reddit mods -->
  <style>
  a[href="https://www.reddit.com/r/choraleapp/user/mistermantas"] {
    color: forestgreen;
  }

  a[href="https://www.reddit.com/r/choraleapp/user/mistermantas"]::after {
    content: ' [Chief Officer]';
  }
  </style>
  <script src="{{ .Params.comments }}/.embed?limit=50&t=all"></script>
</div>
<div class="break"></div><div class="break"></div>

{{ partial "footer.html" . }}
