<footer class="footer center">
  <p>
    Copyright 2017 Chorale, Mantas Vilčinskas<br>

    <a href="https://twitter.com/choraleapp">Twitter</a> &middot;
    <a href="https://github.com/choraleapp">GitHub</a> &middot;
    <a href="https://discord.io/choraleapp">Discord</a> &middot;
    <a href="https://patreon.com/choraleapp">Patreon</a> &middot;
    <a href="https://reddit.com/r/choraleapp">Reddit</a>

    <br>
    <a href="/press">Press</a> &middot;
    <a href="/privacy">Privacy</a> &middot;
    <a href="/license">OSS License</a>
  </p>
</footer>


<script>window.$crisp=[];window.CRISP_WEBSITE_ID="1456a9bd-7292-4dee-b61d-5d9946f925b5";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>


<style>
html .crisp-client .crisp-1 .crisp-11,
html .crisp-client .crisp-1 .crisp-12:before,
html .crisp-client .crisp-1 .crisp-12:after {
  background-color: #8728CC !important;
}
</style>
<script src="/js/all.js"></script>
</body></html>
