<nav class="nav-bar nav-bar--light">
  <div class="container">
    <svg class="nav-bar__icon" viewBox="0 0 24 24">
      <path class="nav-bar__icon--open" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
      <path class="nav-bar__icon--close" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
    </svg>

    <a href="/#">
      <img src="/logo.png" class="nav-bar__logo">
    </a>

    <ul class="nav-bar__list">
      <li><a href="/#explain">Features</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="/creators">Creators</a></li>
      <li><a href="/blog">Newsroom</a></li>
      <li><a href="/contribute">Contribute</a></li>
      <!-- li><a href="/account">Login
        <svg viewBox="0 0 24 24">
          <path fill="#fff" d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" />
        </svg>
      </a></li -->
    </ul>
  </div>
</nav>
