{{ partial "meta.html" . }}
<body class="index">
{{ partial "nav-light.html" . }}
<!-- Content -->
<main class="hero background" style="background-image: linear-gradient(135deg, rgba(0,0,0,1), rgba(0,0,0,0.0)), url(/img/cd.gif)">
  <div class="container">
  <div class="row">

  <div class="col">
    <h1 class="h1">
      <b>Chorale is the free &amp; modern music app made for everyone, by everyone.</b>
    </h1>
    <p>Spotify, Google, and SoundCloud don’t listen to you. So why not fix that? Unsubscribe from Spotify and uninstall SoundCloud, because Chorale
       is the first-ever music streaming platform that caters to users and not greedy executives.</p>

    <div class="break-sm"></div>
    <div class="btn-group">
      <a href="/early-access" class="btn btn--white">Gimme the app</a>
      <a href="/tour" class="btn btn--border">Tell me more</a>
    </div>
  </div>
  <div class="col">
  </div>
  </div>
  </div>
</main>


<section class="container">
  <div class="break"></div><div class="break"></div><div class="break"></div>
  <h1 class="h2 bold center"><b>Maybe some of these are relevant<span class="highlighted">.</span></b></h1>
  <div class="break"></div>

  <div class="row mobile-row text-row">
    <figure class="col">
      <h2 class="h5 bold">Sign up for Chorale</h2>
      <p>If you are 13 or older, and do not mind waiting less than 48 hours, then you
      are eligible to sign up for Chorale! So go do it! It costs nothing to try something
      new.</p>
      <a href="/early-access">Gimme the app</a>
    </figure>
    <figure class="col">
      <h2 class="h5 bold">Learn more about Chorale</h2>
      <p>Chorale is a revolutionary open source music and podcast app available for use on
      any device with a modern web browser, including your phone.</p>
      <a href="/tour">See product tour</a>
    </figure>
    <figure class="col">
      <h2 class="h5 bold">Publish to Chorale</h2>
      <p>Artists are our #1 priority. We love you! Chorale gives artists the tools to
      shape their profiles however they want and get even more listeners.</p>
      <a href="/creators/">Visit Creator Center</a>
    </figure>
  </div>
  <div class="break"></div><div class="break"></div><div class="break"></div>
</section>
<!-- Content -->
{{ partial "footer.html" . }}
