{{ partial "meta.html" . }}
<body class="index">
{{ partial "nav.html" . }}
<!-- Content -->
<main class="hero hero--light">
  <div class="container">
  <div class="row">
  <!---->
  <div class="col-half">
    <h1 class="h1">
      <b>Meet Chorale, your new favorite music app.
         It’s made for everyone, by everyone.</b>
    </h1>
    <p>Spotify, Google, and SoundCloud don’t listen to you. But we do. Chorale
       is the first-ever music streaming platform that caters to users and not greedy corporations.</p>

    <div class="break break--half"></div>
    <div class="btn-group">
      <a href="/tour" class="btn btn--primary">Learn more</a>
      <a href="/contribute" class="btn btn--border">Contribute</a>
    </div>

    <p><small>
      <a href="https://dribbble.com/shots/2863164-Anya-Hindmarch">animation art by Magnus Magnusson</a></small></p>
  </div>
  <div class="col-half">
    <img src="/img/home-anim.gif" class="stretch-img">
  </div>
  <!---->
  </div>
  </div>
</main>

<section class="basic-section">
  <div class="container">
    <div class="center">
      <h1 class="h1 center">Chorale is still in development.</h1>
      <p class="center">Development, design, and other stuff, all this takes time!<br>
        This is why we have an alpha program so testers can try Chorale.</p>
      <div class="break"></div>

      <a href="/early-access" class="btn btn--primary">Request access</a>
      <a href="/creators" class="btn btn--border">I’m a creator</a>
      <p><small>we usually respond in a day or two</small></p>
    </div>
  </div>
</section>
<!-- Content -->
{{ partial "footer.html" . }}
