// Transpiles all to one
@import 'stableset';
@import 'gridly';
@import 'wiclwic';

$default-bg: #fff;           // in dark theme: 202020
$regular-text-color: #292929;// in dark theme: #ccc
$bold-text-color: #000;      // in dark theme: #fff

$brand-main: #8728CC;        // variant: #AF3FFF
$brand-secondary: #2861CC;

// brighter
//$brand-main: #DB1C1C; // E84D00
//$brand-secondary: #032B43;

// others
$brand-yellow: #FFBE0B;
$brand-orange: #FF7F3F;
$brand-red: #E51B1B;
$brand-light-blue: #7FFFF4;
$brand-confident-blue: #2861CC;
$brand-boring-blue: #3A86FF;
$brand-blurple: #4328CC;
$brand-pink: #FF006E;

$layers: root, modal;

/**
 * Root
 */

html {
  font-family: 'Rubik', sans-serif;
  background: $default-bg;
  color: $regular-text-color;
  line-height: 1.5;
  z-index: index($layers, root);
  -webkit-tap-highlight-color: transparent;
}

mark {
  background: transparent;
  color: inherit;
  font-weight: 500;
}

svg {
  height: 1rem;
  width: 1rem;
  position: relative;
  top: 0.125rem;

  path, g { fill: $regular-text-color; }
}

img {
  height: 50%;
  width: 50%;
}

a {
  color: $brand-main;

  &:hover { color: $bold-text-color; }
  &:active { opacity: 0.8; }
}

hr.fancy {
  border: 0;
  margin: 2rem;
  margin-bottom: 4rem;

  &::after {
    content: ' · · · · · ';
    letter-spacing: 1rem;
  }
}


/**
 * Dropins
 */

.container {
  max-width: 64rem;
  margin: 0 auto;
  padding: 1rem;
  display: block;

  &--narrow { max-width: 48rem; }
}

.background {
  background-size: cover;
}

// Reset
.no-bullet {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

// Text
.bold { color: $bold-text-color; }
.highlighted { color: $brand-main; }
.center { text-align: center; }
.right { text-align: right; }

.faded { opacity: 0.8; }

.caps { text-transform: uppercase; }

.no-upper-margin { margin-top: 0; }

// Align
.break { padding: 1.5rem; &--half { padding: 0.5rem; } }

@media (max-width: 640px) {
  .mobile-break {
    display: block;
    margin: 2rem;
  }
}


/**
 * Elements
 */

.h1 { font-size: 2rem; }
.h2 { font-size: 1.6rem; }
.h3 { font-size: 1.5rem; }
.h4 { font-size: 1.4rem; }
.h5 { font-size: 1.2rem; }
.h6 { font-size: 0.9rem; }

.markdown-container {
  h1 { font-size: 2rem; }
  h2 { font-size: 1.75rem; }
  h3 { font-size: 1.5rem; }
  h4 { font-size: 1.25rem; }
  h5 { font-size: 1.125rem; }
  h6 { font-size: 0.825rem; }
}

.btn-group .btn { margin: 0.25rem; }

.btn {
  padding: 0.8rem 1.4rem;
  margin-right: 0.5rem;
  border: 0;
  background: transparent;
  border-radius: 0.25rem;
  border: 0.1rem solid transparent;
  cursor: pointer;
  display: inline-block;

  // For SVGs
  &--primary, &--secondary { svg path { fill: #fff; } }

  // For all
  &:active {
    opacity: 0.8;
    position: relative;
    top: 0.125rem;
  }

  // Disabled
  &[disabled] {
    cursor: not-allowed;

    &:active {
      position: static;
      opacity: 0.6;
    }
  }

  // Also this
  &--sq { padding: 0.8rem; }
  &--rough { border-radius: 0; }

  // Variants
  &--primary {
    background: $brand-main;
    color: #fff;

    &:hover {
      background: $bold-text-color;
      color: invert($bold-text-color);
    }
  }

  &--secondary {
    background: $brand-secondary;
    color: #fff;

    &:hover {
      background: $bold-text-color;
      color: invert($bold-text-color);
    }
  }

  &--border {
    border-color: currentColor;
    color: $bold-text-color;

    &:hover {
      border-color: currentColor;
      color: $brand-main;
    }
  }
}

.card {
  margin: 0 0.4rem;
  color: $regular-text-color;
  border: 0.1rem solid $bold-text-color;
  border-radius: 0.25rem;
  background: #fff;
  box-shadow: 0 0.125rem 4rem rgba(#000, 0.2);

  &__header {
    border-bottom: 0.1rem solid $bold-text-color;
  }

  &__header, &__content { padding: 1.4rem 1rem; }

  .btn { width: 100%; text-align: center; }
}

.card--primary {
  border-color: $brand-main;
  transform: scale(1.125);

  .card__header {
    background: $brand-main;
    color: #fff;
    border-bottom-color: $brand-main;
  }
}

@media (max-width: 768px) {
  .card--primary { transform: none; }
}

.card--secondary {
  border-color: $brand-secondary;

  .card__header {
    background: $brand-secondary;
    color: #fff;
    border-bottom-color: $brand-secondary;
  }
}


/**
 * Navigation
 */

.nav-bar {
  position: absolute;
  width: 100%;

  a { color: #000; }
  svg path { fill: #000; }

  &--light {
    a { color: #fff; }
    svg path { fill: #fff; }
  }

  &__logo {
    margin: 0 1rem;
    margin-right: 2rem;
    height: 0.75rem;
    width: auto;
    position: relative;
    transform: scale(1.5);
  }

  &__list {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 1rem;
    }
  }

  &__icon { display: none; }
}

@media (max-width: 768px) {
  .nav-bar__list { display: none; }
  .nav-bar__logo { margin-left: 0; }

  .nav-bar__icon {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    transform: scale(1.4);
    position: relative;
    top: 0.125rem;
    margin-right: 2rem;

    &--open { display: block; }
    &--close { display: none; }
    path { fill: #fff; }
  }

  .nav-bar.nav-bar--active-on-mobile {
    position: fixed;
    background: rgba(#fff, 0.8);

    .nav-bar__icon {
      &--open { display: none; }
      &--close { display: block; }
    }

    .nav-bar__list {
      display: block;
      position: fixed;
      top: 3.45rem;
      padding-top: 3rem;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(#fff, 0.8);

      li {
        font-size: 1.6rem;
        display: block;
        padding: 0.5rem 3.25rem;
      }
    }
  }
}

.header-cover {
  height: 3.45rem;
  background: #292929;
}


/**
 * Globals
 */

.light-gradient {
  background-image: linear-gradient(#dfdfdf 10%, #fff 25%, #fff 20%, #fff 25%, #fff 30%);
}

.basic-section {
  padding: 6rem 0;
}

.larger-section {
  padding: 4rem 2rem;
}

.faded-bg { background: #efefef; }

.brand-section {
  padding: 6rem 0;
  color: #fff;
  background: $brand-main;
}

.footer-promo {
  padding: 4rem 1rem;
  background: $brand-main;
  color: #fff;

  .btn--primary { background: #fff; color: #000; }
  .btn--border { color: #fff; }
}

.footer {
  padding: 8rem 1rem;
  background: #292929;
  color: #fff;

  a {
    color: #ccc;

    &:hover { color: $brand-main; }
  }

  // HACK: https://github.com/sass/libsass/issues/151
  .sponsor {
    height: 2rem;
    width: auto;
    margin: 0 1rem;
    filter: #{ "grayscale()" } #{ "invert(0)" };

    &:hover { filter: none; }
  }

  &__logo {
    height: 2rem;
    width: 2rem;
    position: relative;
    top: 0.5rem;

    g { fill: #fff; }
  }
}


/**
 * Homepage
 */

.hero {
  height: 100vh;
  background-size: cover;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  background-color: #e5e5e5;
  background-size: cover;

  a { color: #000; }

  .btn--primary {
    background: #000;
    color: #fff;

    &:hover { background: #292929; }
  }

  .btn { color: #fff; }

  .btn--border {
    color: #000;

    &:hover { color: #292929; }
  }

  &--light {
    color: #000;
  }
  &--transparent { background-color: transparent; }
}

// Make sure container fits on screen
@media (max-width: 640px) {
  .hero-greeting__container {
    max-width: 80%;
  }
}

@media (max-height: 600px) {
  .hero-greeting__container {
    max-width: 90%;
  }
  .h1 { font-size: 1.8rem; }
  .btn { padding: 0.4rem 0.6rem; }
}

@media (max-height: 480px) {
  .hero-greeting__container {
    max-width: 90%;
  }
  .h1 { font-size: 1.25rem; }
  .btn { padding: 0.2rem 0.6rem; }
}

.basic-hero {
  padding: 6rem 0;
  color: $bold-text-color;
  border-bottom: 0.1rem solid #303030;
}


/**
 * Forms
 */

select {
  padding: 0.6rem;
  background: transparent;
  border: 0.1rem solid lightgray;
  display: block;
  color: $bold-text-color;
  //margin: 0.6rem 0;
  width: 18rem;
}

.text-field {
  padding: 0.6rem;
  background: transparent;
  border: 0.1rem solid lightgray;
  display: block;
  color: $bold-text-color;
  //margin: 0.6rem 0;
  width: 18rem;

  &:focus { border-color: $bold-text-color; }
}

.number-field { width: 6rem; }


/**
 * Other
 */

.warning {
  padding: 2rem;
  background: $brand-yellow;
  color: #000;
  border-radius: 0.25rem;
}

.icon-grid {
  padding: 2rem 0;

  .col { padding-right: 2rem; }
  .col:nth-child(even) { padding-right: 0; }

  &__icon {
    height: 2rem;
    width: 2rem;
    display: block;
    border-radius: 50%;

    path { fill: $bold-text-color; }
  }
}

.comparision-table {
  width: 100%;
  overflow-x: auto;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
  display: block;

  // Headings
  th {
    padding: 1rem;
    padding-top: 1.5rem;

    img {
      height: 1.5rem;
      width: auto;
    }
  }

  // Left side
  .feature {
    padding: 0.8rem;
    border-right-color: $brand-main;

    &--last { border-bottom: 0; }
  }

  // Every box (except headings)
  td {
    border-bottom: 0.1rem solid #dedede;
    border-top: 0.1rem solid #dedede;
  }

  // Give Chorale focus
  td.chorale {
    border-color: $brand-main;
    border-left: 0.1rem solid $brand-main;
    border-right: 0.1rem solid $brand-main;
    padding: 1rem 2.5rem;

    svg path { fill: $brand-main; }
  }

  th.chorale {
    border-left: 0.1rem solid $brand-main;
    border-right: 0.1rem solid $brand-main;
    border-top-color: $brand-main;
    background: $brand-main;

    &.last { border-bottom: 0.1rem solid $brand-main; }
  }
}

.article {
  color: inherit;
  border: 0.1rem solid #dedede;
  background: #fff;

  &__details {
    padding: 3rem 1.8rem;
  }
}


/**
 * Snackbars / toasts
 */

#snackbar-container {
  position: fixed;
  left: 1rem;
  bottom: 0;
  z-index: index($layers, modal);
}

.snackbar {
  background-color: #424242;
  color: #fff;
  border-radius: 0.1rem;
  height: 0;
  overflow: hidden;
  min-width: 18rem;
  max-width: 36rem;
  cursor: pointer;
  opacity: 0;

  &.active {
    height: auto;
    opacity: 1;
    margin-bottom: 1rem;
    height: auto;

    & span {
      padding: 1rem 1.5rem;
      display: inline-block;
    }

    & > a {
      text-transform: uppercase;
      line-height: 100%;
      font-weight: bold;
      padding: 1rem;
      float: right;
      color: $brand-main;
      position: relative;
      top: 0.15rem;
    }
  }
}

// Scale nicely on smaller devices
@media (max-width: 40rem) {
  #snackbar-container {
    left: 0;
    right: 0;
    width: 100%;
  }

  #snackbar-container .snackbar {
    min-width: 100%;
  }

  #snackbar-container .snackbar.active {
    border-radius: 0;
    margin-bottom: 0;
  }
}
