/**
 * This file is used as the "compile point".
 * Here, everything is saved into one.
 * CSS must be compiled into /static then
 * commited. It's not built on the fly.
 */

// Libraries
@import 'lib/stableset';
@import 'lib/gridly';
@import 'lib/wiclwic';

// Reusable parts
@import 'components/vars';
@import 'components/root';
@import 'components/dropins';
@import 'components/snacks';


/**
 * Elements
 */

.h1 { font-size: 2rem; }
.h2 { font-size: 1.6rem; }
.h3 { font-size: 1.5rem; }
.h4 { font-size: 1.4rem; }
.h5 { font-size: 1.2rem; }
.h6 { font-size: 0.9rem; }

.markdown-container {
  h1 { font-size: 2rem; }
  h2 { font-size: 1.75rem; }
  h3 { font-size: 1.5rem; }
  h4 { font-size: 1.25rem; }
  h5 { font-size: 1.125rem; }
  h6 { font-size: 0.825rem; }
}

.btn {
  padding: 0.8rem 1.4rem;
  margin-right: 0.5rem;
  border: 0;
  background: transparent;
  border-radius: 0.25rem;
  border: 0.1rem solid transparent;
  cursor: pointer;
  display: inline-block;

  // For SVGs
  &--primary, &--secondary { svg path { fill: #fff; } }

  // For all
  &:active {
    opacity: 0.8;
    position: relative;
    top: 0.125rem;
  }

  // Disabled
  &[disabled] {
    cursor: not-allowed;

    &:active {
      position: static;
      opacity: 0.6;
    }
  }

  // Also this
  &--sq { padding: 0.8rem; }
  &--rough { border-radius: 0; }

  // Variants
  &--primary {
    background: $brand-main;
    color: #fff;

    &:hover {
      background: $bold-text-color;
      color: invert($bold-text-color);
    }
  }

  &--secondary {
    background: $brand-secondary;
    color: #fff;

    &:hover {
      background: $bold-text-color;
      color: invert($bold-text-color);
    }
  }

  &--border {
    border-color: currentColor;
    color: $bold-text-color;

    &:hover {
      border-color: currentColor;
      color: $brand-main;
    }
  }
}

.card {
  margin: 0 0.4rem;
  color: $regular-text-color;
  border: 0.1rem solid $bold-text-color;
  border-radius: 0.25rem;
  background: #fff;
  box-shadow: 0 0.125rem 4rem rgba(#000, 0.2);

  &__header {
    border-bottom: 0.1rem solid $bold-text-color;
  }

  &__header, &__content { padding: 1.4rem 1rem; }

  .btn { width: 100%; text-align: center; }
}

.card--primary {
  border-color: $brand-main;
  transform: scale(1.125);

  .card__header {
    background: $brand-main;
    color: #fff;
    border-bottom-color: $brand-main;
  }
}

@media (max-width: 768px) {
  .card--primary { transform: none; }
}

.card--secondary {
  border-color: $brand-secondary;

  .card__header {
    background: $brand-secondary;
    color: #fff;
    border-bottom-color: $brand-secondary;
  }
}


/**
 * Navigation
 */

.nav-bar {
  position: absolute;
  width: 100%;
  z-index: index($layers, navroot);

  a { color: #000; }
  svg path { fill: #000; }

  &--light {
    a { color: #fff; }
    svg path { fill: #fff; }
  }

  &__logo img {
    margin-right: 2rem;
    height: 0.75rem;
    width: auto;
    position: relative;
    transform: scale(1.5);
  }

  &__list {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 1rem;
    }
  }

  &__icon { display: none; }
}

// Mobile
@media (max-width: 768px) {
  .nav-bar__list { display: none; }
  .nav-bar__logo { margin-left: 0; }

  .nav-bar__icon {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    transform: scale(1.4);
    position: relative;
    top: 0.125rem;
    margin-right: 2rem;

    &--open { display: block; }
    &--close { display: none; }
    path { fill: #fff; }
  }

  .nav-bar.nav-bar--active-on-mobile {
    position: fixed;

    .nav-bar__icon, .nav-bar__logo {
      z-index: index($layers, navtop);
    }

    .nav-bar__icon path { fill: #fff; }
    .nav-bar__logo img { filter: #{ "invert()" }; }
    .nav-bar--light .nav-bar__logo img { filter: none; }

    .nav-bar__icon {
      &--open { display: none; }
      &--close { display: block; }
    }

    .nav-bar__list {
      display: block;
      position: fixed;
      top: 0;
      padding-top: 4.5rem;
      left: 0;
      height: 100%;
      width: 100%;
      background: $brand-main;
      z-index: index($layers, navlist);

      li a { color: #fff; }
      li {
        font-size: 1.6rem;
        display: block;
        padding: 0.5rem 3.25rem;
      }
    }
  }
}

.browse-bar {
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 0.08rem solid #dedede;
}

.header-cover {
  height: 3.45rem;
  background: $regular-text-color;
}


/**
 * Globals
 */

.basic-section {
  padding: 6rem 0;
}

.larger-section {
  padding: 4rem 2rem;
}

.faded-bg { background: #efefef; }

.brand-section {
  padding: 6rem 0;
  color: #fff;
  background: $brand-main;
}

.footer-promo {
  padding: 4rem 1rem;
  background: $brand-main;
  color: #fff;

  .btn--primary { background: #fff; color: #000; }
  .btn--border { color: #fff; }
}

.footer {
  padding: 8rem 1rem;
  background: #292929;
  color: #fff;

  a {
    color: #ccc;

    &:hover { color: $brand-main; }
  }

  // HACK: https://github.com/sass/libsass/issues/151
  .sponsor {
    height: 2rem;
    width: auto;
    margin: 0 1rem;
    filter: #{ "grayscale()" } #{ "invert(0)" };

    &:hover { filter: none; }
  }

  svg path { fill: #fff; }

  &__logo {
    position: relative;
    top: 0.5rem;
  }
  &__logo {
    height: 2rem;
    width: 2rem;

    g { fill: #fff; }
  }
}


/**
 * Homepage
 */

.hero {
  height: 100vh;
  background-size: cover;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  background-color: #e5e5e5;
  background-size: cover;

  a { color: #000; }

  .btn--primary {
    background: #000;
    color: #fff;

    &:hover { background: #292929; }
  }

  .btn { color: #fff; }

  .btn--border {
    color: #000;

    &:hover { color: #292929; }
  }

  &--light {
    color: #000;
  }
  &--transparent { background-color: transparent; }
}

// Make sure container fits on screen
@media (max-width: 640px) {
  .hero__container {
    max-width: 80%;
  }
}

@media (max-height: 768px) {
  .hero {
    padding: 4rem 1rem;
  }
}

@media (max-height: 600px) {
  .hero__container {
    max-width: 90%;
  }
  .hero .h1 { font-size: 1.8rem; }
  .btn { padding: 0.4rem 0.6rem; }
}

@media (max-height: 480px) {
  .hero__container {
    max-width: 90%;
  }
  .h1 { font-size: 1.25rem; }
  .btn { padding: 0.2rem 0.6rem; }
}

.basic-hero {
  padding: 6rem 0;
  color: $bold-text-color;
  border-bottom: 0.1rem solid #303030;
}


/**
 * Other
 */

.warning {
  padding: 2rem;
  background: $brand-yellow;
  color: #000;
  border-radius: 0.25rem;
}

.icon-grid {
  padding: 1.5rem 0.5rem;

  .col { padding-right: 2rem; }
  .col:nth-child(even) { padding-right: 0; }

  @media (max-width: 768px) {
    .col { padding-right: 0; }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    display: block;
    border-radius: 50%;

    path { fill: $bold-text-color; }
  }
}

.comparision-table {
  width: 100%;
  overflow-x: auto;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
  display: block;

  // Icons
  svg {
    height: 2rem;
    width: 2rem;
  }

  // Headings
  th {
    padding: 1rem;
    padding-top: 1.5rem;

    img {
      height: 1.5rem;
      width: auto;
    }
  }

  // Left side
  .feature {
    padding: 0.8rem;
    border-right-color: $brand-main;

    &--last { border-bottom: 0; }
  }

  // Every box (except headings)
  td {
    border-bottom: 0.1rem solid #dedede;
    border-top: 0.1rem solid #dedede;
  }

  // Give Chorale focus
  td.chorale {
    border-color: $brand-main;
    border-left: 0.1rem solid $brand-main;
    border-right: 0.1rem solid $brand-main;
    padding: 1rem 2.5rem;

    svg path { fill: $brand-main; }
  }

  th.chorale {
    border-left: 0.1rem solid $brand-main;
    border-right: 0.1rem solid $brand-main;
    border-top-color: $brand-main;
    background: $brand-main;

    &.last { border-bottom: 0.1rem solid $brand-main; }
  }
}

.article {
  color: inherit;
  border: 0.1rem solid #dedede;
  background: #fff;

  &__details {
    padding: 3rem 1.8rem;
  }
}
