/**
 * This file is used as the "compile point".
 * Here, everything is saved into one.
 * CSS must be compiled into /static then
 * commited. It's not built on the fly.
 */

// Libraries
@import 'lib/stableset';
@import 'lib/gridly';
@import 'lib/wiclwic';

// Reusable parts
@import 'components/vars';
@import 'components/root';
@import 'components/dropins';
@import 'components/snacks';


/**
 * Elements
 */

.h1 { font-size: 2rem; }
.h2 { font-size: 1.6rem; }
.h3 { font-size: 1.5rem; }
.h4 { font-size: 1.4rem; }
.h5 { font-size: 1.2rem; }
.h6 { font-size: 0.9rem; }

.markdown-container {
  h1 { font-size: 2rem; }
  h2 { font-size: 1.75rem; }
  h3 { font-size: 1.5rem; }
  h4 { font-size: 1.25rem; }
  h5 { font-size: 1.125rem; }
  h6 { font-size: 0.825rem; }

  ul {
    padding: 0;

    li {
      list-style: none;

      &::before {
        content: " · ";
        padding: 0 0.5rem;
      }
    }
  }
}

.btn {
  padding: 0.8rem 1.4rem;
  margin-right: 0.5rem;
  border: 0;
  background: transparent;
  border-radius: 0.25rem;
  border: 0.1rem solid transparent;
  cursor: pointer;
  display: inline-block;
  text-align: center;

  // Different form
  &--block {
    width: 100%;
  }

  // For SVGs
  &--primary, &--secondary { svg path { fill: #fff; } }

  // For all
  &:active {
    opacity: 0.8;
    position: relative;
    top: 0.125rem;
  }

  // Disabled
  &[disabled] {
    cursor: not-allowed;

    &:active {
      position: static;
      opacity: 0.6;
    }
  }

  // Also this
  &--sq { padding: 0.8rem; }
  &--rough { border-radius: 0; }

  // Variants
  &--primary {
    background: $brand-main;
    color: #fff;

    &:hover {
      background: $bold-text-color;
      color: invert($bold-text-color);
    }
  }

  &--secondary {
    background: $brand-secondary;
    color: #fff;

    &:hover {
      background: $bold-text-color;
      color: invert($bold-text-color);
    }
  }

  &--black {
    background: #000;
    color: #fff;

    &:hover {
      background: #292929;
    }
  }

  &--border {
    border-color: currentColor;
    color: $bold-text-color;

    &:hover {
      border-color: currentColor;
      color: $brand-main;
    }
  }
}

.card {
  margin: 0 0.4rem;
  color: $regular-text-color;
  border: 0.1rem solid $border-color;
  border-radius: 0.25rem;
  background: $bold-bg;

  &__header {
    border-bottom: 0.1rem solid $border-color;
  }

  &__header, &__content { padding: 1.4rem 1rem; }
}

.card--primary {
  border-color: $brand-main;
  transform: scale(1.125);

  .card__header {
    background: $brand-main;
    color: #fff;
    border-bottom-color: $brand-main;
  }
}

@media (max-width: 768px) {
  .card--primary { transform: none; }
}

.card--secondary {
  border-color: $brand-secondary;

  .card__header {
    background: $brand-secondary;
    color: #fff;
    border-bottom-color: $brand-secondary;
  }
}


/**
 * Navigation
 */

.nav-bar {
  position: absolute;
  width: 100%;
  z-index: index($layers, navroot);

  a { color: #000; }
  svg path { fill: #000; }

  &--light {
    a { color: #fff; }
    svg path { fill: #fff; }
  }

  &__logo img {
    margin-left: 0;
    height: 1.4rem;
    width: auto;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

    li { padding: 0 1rem; }

    .nav-bar__logo { padding-left: 0; }
    .nav-bar__list--last-item { margin-right: auto; }
  }

  // Try Chorale link padding fix
  li.nav-bar__cta { padding-right: 0; }
}

// Hide mobile version by default
.nav-mobile { display: none; }

// Show mobile version when on mobile
@media (max-width: 768px) {
  // Hide desktop version
  .nav-bar { display: none; }

  // Show mobile version
  .nav-mobile {
    display: block;
    position: absolute;
    width: 100%;
    z-index: index($layers, navroot);
    overflow-y: auto;

    &.nav-mobile--light {
      svg path { fill: #fff; }
    }

    // Menu specific
    &__logo img {
      height: 1.4rem;
      width: auto;
      display: inline-block;
      margin: 0.8rem;
    }

    // Menu specific
    &__menu {
      float: right;
      height: 1.4rem;
      width: 1.4rem;
      display: inline-block;
      margin: 0.8rem;
      position: static;

      path { fill: #000; }
      &--open { display: block; }
      &--close { display: none; }
    }

    // Hide list if disabled
    &__list { display: none; }

    // Menu icon specific change
    svg.nav-mobile__list-icon { margin: 0; top: 0.25rem; }
  }

  // When menu is open
  .nav-mobile.nav-mobile--active {
    // Show [X] on menu
    .nav-mobile__menu {
      &--open { display: none; }
      &--close { display: block; }
    }

    // Show links
    .nav-mobile__list {
      display: block;
      background: #fff;
      box-shadow: $shadow1;
      position: fixed;
      width: calc(100% - 2rem);
      top: 2rem;
      margin: 1rem;
      animation: fadeup 0.2s;

      ul {
        line-height: 1.8;
        font-size: 1.6rem;
      }

      a {
        color: #000;
      }
    }
  }
}

// Second nav
.browse-bar {
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 0.08rem solid #dedede;
  z-index: index($layers, sticky);
}

// Old relic
.header-cover {
  height: 3.5rem;
  background: mix($default-bg, $bold-text-color, 10%);
}

/**
 * Globals
 */

.gradient-bg {
  background: linear-gradient(180deg, #eee, $default-bg 8%)
}


.basic-section {
  padding: 6rem 0;
}

.larger-section {
  padding: 4rem 2rem;
}

.faded-bg { background: #efefef; }

@keyframes faded {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeup {
  from { opacity: 0; transform: translateY(1rem); }
  to { opacity: 1; transform: translateY(0); }
}

.brand-section {
  padding: 6rem 0;
  color: #fff;
  background: $brand-main;
}

.footer-promo {
  padding: 2rem;
  background: mix($default-bg, $bold-text-color, 10%);
  color: invert($bold-text-color);

  .btn--primary { background: #fff; color: #000; }
  .btn--border { color: #fff; }
}

.pre-footer {
  padding: 2rem 0;
  padding-bottom: 3rem;
  background: mix($default-bg, $bold-text-color, 12%);
  color: invert($bold-text-color);
  line-height: 1.25;

  // HACK: https://github.com/sass/libsass/issues/151
  .sponsor {
    height: 2rem;
    width: auto;
    margin: 0.6rem 2rem;
    filter: grayscale(1);

    &:hover { filter: none; }
  }

  @media (max-width: 768px) {
    .pre-footer__sponsors a {
      display: block;

      .sponsor {
        height: 1.8rem;
        margin: 0.6rem;
      }
    }
  }

  .sponsor[alt="Netlify"] {
    transform: scale(1.125);
  }
}

.choices-on-right {
  padding: 1.8rem 0;

  .break-sm { display: none; }

  @media (max-width: 768px) {
    &__init, &__cta, .break-sm {
      display: block;
    }

    .float-fix { position: static; }
    .float-right { float: none; }
  }
}


.footer {
  background: mix($default-bg, $bold-text-color, 15%);
  color: invert($bold-text-color);
  padding: 2rem;

  a {
    color: invert($regular-text-color);

    &:hover { color: $brand-main; }
  }

  &__icons svg {
    height: 1.25rem;
    width: 1.25rem;
    margin: 0.25rem;

    &:hover path { fill: $brand-main; }
  }

  // Let links breathe
  ul { line-height: 1.8; }

  &__logo {
    width: 50%;
    height: auto;
  }

  // For everything
  svg path { fill: invert($bold-text-color); }
}


/**
 * Homepage
 */

.hero {
  height: 100vh;
  background-size: cover;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  background-color: #292929;

  a { color: #fff; }

  .btn--primary {
    background: #fff;
    color: #000;

    &:hover { background: #d5d5d5; }
  }

  .btn--border {
    color: #fff;

    &:hover { color: #d5d5d5; }
  }

  &--light {
    color: #000;

    a { color: #000; }

    .btn--primary {
      background: #000;
      color: #fff;

      &:hover { background: #292929; }
    }

    .btn { color: #fff; }

    .btn--border {
      color: #000;

      &:hover { color: #292929; }
    }
  }

  &--transparent { background-color: transparent; }
  &--branded { background-image: linear-gradient(90deg, $brand-secondary, $brand-main); }
}

// Make sure container fits on screen
@media (max-width: 640px) {
  .hero__container {
    max-width: 80%;
  }
}

@media (max-height: 768px) {
  .hero {
    padding: 3.5rem 1rem;
  }
}

@media (max-height: 600px) {
  .hero__container {
    max-width: 90%;
  }
  .hero .h1 { font-size: 1.8rem; }
  .btn { padding: 0.4rem 0.6rem; }
}

@media (max-height: 480px) {
  .hero__container {
    max-width: 90%;
  }
  .btn { padding: 0.2rem 0.6rem; }
}

.basic-hero {
  padding: 6rem 0;
  color: $bold-text-color;
  border-bottom: 0.1rem solid #303030;
}


/**
 * Other
 */

// Hide "Coded by Netlify"
.callOut {
  display: none;
}

.warning {
  padding: 2rem;
  background: $brand-yellow;
  color: #000;
  border-radius: 0.25rem;
}

.icon-grid {
  padding: 1.5rem 0rem;

  .col { padding: 1.25rem; }

  @media (max-width: 768px) {
    .col { padding-right: 0; }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    display: inline-table;
    border-radius: 50%;

    path { fill: $bold-text-color; }
  }
}

.comparision-table {
  width: 100%;
  overflow-x: auto;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
  display: block;

  // Icons
  svg {
    height: 2rem;
    width: 2rem;
  }

  // Headings
  th {
    padding: 1rem 1.4rem;

    img {
      height: 1.4rem;
      width: auto;
    }

    &.chorale {
      padding-top: 1.5rem;
    }
  }

  // Left side
  .feature {
    padding: 0.8rem;
    border-right-color: $brand-main;

    &--last { border-bottom: 0; }
  }

  // Every box (except headings)
  td {
    border-bottom: 0.1rem solid $border-color;
    border-top: 0.1rem solid $border-color;
  }

  // Give Chorale focus
  td.chorale {
    border-color: $brand-main;
    border-left: 0.1rem solid $brand-main;
    border-right: 0.1rem solid $brand-main;
    padding: 0.25rem 1.25rem;

    svg path { fill: $brand-main; }
  }

  th.chorale {
    border-left: 0.1rem solid $brand-main;
    border-right: 0.1rem solid $brand-main;
    border-top-color: $brand-main;
    background: $brand-main;

    &.last { border-bottom: 0.1rem solid $brand-main; }
  }
}

.article {
  color: inherit;
  border: 0.1rem solid #dedede;
  display: block;

  &__author {
    margin: 0 auto;
    position: relative;
    top: -2rem;
    display: block;
    border: 0.1rem solid #dedede;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    z-index: index($layers, contentpush);
  }

  &__image {
    width: 100%;
    height: 100%;
    position: relative;
    top: -3rem;
  }

  &__details {
    padding: 3rem;
    padding-top: 0;
  }
}

// on /community/
.person {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin: 0.5rem;
  box-shadow: $shadow1;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.25);
  }
  &:active {
    transform: scale(1.125);
  }
}


/**
 * Page specific
 */

.index .hero--flat {
  color: #000;
  background-color: #e5e5e5;

  &__promo { color: #000; }
  .btn--border { color: #000; }
}
